.fullWidth {
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--light-gray-100-solid);
}

.header {
  width: calc(100% - 300px);
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--light-gray-100-solid);
}

.left {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-self: flex-start;

  button {
    background: transparent;
    box-shadow: none;
    color: var(--black-solid);
    padding: 0.75rem;
    transition: ease-in-out 0.3s;

    &:hover {
      background: var(--light-gray-200-solid);
      transform: scale(1) rotate(180deg);
      gap: 1rem;
    }
  }

  .open {
    transform: rotate(180deg);
  }
}

.right {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-self: flex-end;

  button {
    background: transparent;
    box-shadow: none;
    color: var(--black-solid);
    padding: 0.75rem;
    transition: ease-in-out 0.3s;

    &:hover {
      background: var(--light-gray-200-solid);
      gap: 1rem;
    }
  }
}
