.content {
  width: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;

  .profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h1 {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.25rem;
      letter-spacing: -0.5px;
    }

    button {
      margin-top: 0;
      width: auto;
      color: var(--black-solid);
      background: transparent;
      box-shadow: none;
      display: flex;
      align-items: center;
      height: auto;
      padding: 0.5rem 1rem;

      &:hover {
        transform: scale(1);
        background: var(--light-gray-100-solid);
        gap: 1rem;
      }

      p {
        font-weight: 300;
        font-size: 0.75rem;
        color: var(--black-solid);
      }
    }
  }

  .userInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    border-top: 1px solid var(--light-gray-300-solid);
    padding: 1rem 0;

    .image {
      border-radius: 50px;
    }

    .userData {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      h3 {
        color: var(--black-solid);
        letter-spacing: -0.75px;
        font-size: 1.15rem;
        font-weight: 600;
      }

      p {
        font-weight: 300;
        font-size: 0.7rem;
        color: var(--black-solid);
      }

      .userEmail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        color: var(--black-solid);
      }
    }
  }

  button {
    padding: 1rem 2rem;
    margin-top: 1rem;

    svg {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1);
      gap: 1rem;

      .disconnect {
        transform: rotate(180deg);
      }
    }
  }
}
