.container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;

  button {
    padding: 1.25rem;
  }

  &:hover {
    gap: 1rem;
  }

  svg {
    cursor: pointer;

    path {
      cursor: pointer;
    }
  }
}
