.content {
  width: 375px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem 1.25rem 2rem;
  gap: .5rem;

  .notification {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h1 {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.25rem;
      letter-spacing: -0.5px;
    }

    button {
      width: auto;
      color: var(--black-solid);
      background: transparent;
      box-shadow: none;
      display: flex;
      align-items: center;
      height: auto;
      padding: 0.5rem 1rem;

      &:hover {
        transform: scale(1);
        background: var(--light-gray-100-solid);
        gap: 1rem;
      }

      p {
        font-weight: 300;
        font-size: 0.75rem;
        color: var(--black-solid);
      }
    }
  }

  .notificationInformation {
    width: 100%;
    margin-top: -0.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    padding: 1.25rem 0;
    border-top: 1px solid var(--light-gray-300-solid);

    .image {
      border-radius: 50px;
    }

    .notificationData {
      width: 235px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 0.1rem;

      h3 {
        color: var(--black-solid);
        letter-spacing: -0.75px;
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 600;
      }

      p {
        font-weight: 300;
        font-size: 0.7rem;
        color: var(--black-solid);
      }

      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: flex;

        button {
          width: auto;
          color: var(--black-solid);
          background: transparent;
          box-shadow: none;
          display: flex;
          align-items: center;
          height: auto;
          padding: 0.5rem 1rem;
          letter-spacing: -0.25px;

          &:hover {
            transform: scale(1);
            background: var(--light-gray-100-solid);
            gap: 1rem;
          }

          p {
            font-weight: 300;
            font-size: 0.75rem;
            color: var(--black-solid);
          }
        }
      }

      label {
        font-weight: 300;
        font-size: 0.7rem;
        padding: 0.2rem 1rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      .dev {
        border: 1px solid var(--cian-solid);
        color: var(--cian-solid);
      }

      .error {
        border: 1px solid rgb(214, 30, 30);
        color: rgb(214, 30, 30);
      }

      .warning {
        border: 1px solid rgb(224, 141, 16);
        color: rgb(224, 141, 16);
      }
    }
  }

  button {
    padding: 1rem 2rem;
    svg {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1);
      gap: 1rem;
    }
  }
}
