@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 2rem;
    bottom: 2rem;

    @media (max-width: 925px) {
      top: 2rem;
      bottom: auto;
      left: 1rem;
      transform: scale(0.5);
    }
  }

  .main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    animation: appearAnimation 0.75s ease-in-out;

    @media (max-width: 925px) {
      display: flex;
      flex-direction: column;
    }

    .right {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      background: var(--light-gray-100-solid);

      @media (max-width: 925px) {
        order: 1;
        background: var(--white-solid);
        position: absolute;
        opacity: 0.05;
        height: 100vh;
      }
    }

    .left {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: var(--white-solid);

      @media (max-width: 925px) {
        order: 2;
      }

      .content {
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
        z-index: 2;

        @media (max-width: 925px) {
          position: absolute;
        }

        .welcome {
          gap: 1rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          p {
            line-height: 1rem;
            letter-spacing: -0.5px;
          }

          h1 {
            font-weight: 700;
            font-size: 2.75rem;
            line-height: 2.75rem;
            color: var(--cian-solid);
          }
        }

        .form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 3rem;

          div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .backToLogin {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            background: transparent;
            letter-spacing: -0.5px;
            color: var(--cian-solid);
            font-size: 0.85rem;
            box-shadow: none;
            padding: 0;
          }
        }
      }
    }
  }
}
