.container {
  margin-top: 86px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;

  .welcome {
    width: 100%;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    justify-content: flex-start;
    background: var(--white-solid);
    border-radius: 1rem;
    box-shadow: 0px 1px 25px 1px rgba(19, 18, 18, 0.1);

    .left {
      width: 100%;
      padding: 4rem 1rem 4rem 4rem;

      h1 {
        line-height: 2.25rem;
        font-size: 1.75rem;
      }

      h3 {
        font-size: 1.25rem;
      }
    }

    .right {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/assets/png/mockup.jpg") no-repeat center center;
      background-size: cover;
      border-radius: 1rem;
      filter: hue-rotate(25deg);
    }
  }

  .coins {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;

    .icon {
      margin-bottom: 1rem;
    }

    div {
      border-radius: 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    p {
      line-height: 1rem;
      font-weight: 300;
    }

    h1 {
      line-height: 1.75rem;
      margin-bottom: 1rem;
    }

    .left {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      background: var(--cian-solid);
      color: var(--white-solid);
    }

    .middle {
      width: 100%;
      padding: 2rem;
      background: var(--white-solid);
    }

    .right {
      width: 100%;
      padding: 2rem;
      background: var(--light-gray-200-solid);
    }
  }
}
